{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Budget</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Trends</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="chart2">
            <svg style="height:500px;width:100%;"></svg>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Bucket</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                	<td>Food</td>
                	<td>50%</td>
                </tr>
                <tr>
                	<td>Food</td>
                	<td>50%</td>
                </tr>
                <tr>
                	<td>Food</td>
                	<td>50%</td>
                </tr>
                <tr>
                	<td>Food</td>
                	<td>50%</td>
                </tr>
            </tbody>
        </table>
        <a href="/add_bucket" class="btn btn-default">Add Bucket</a>
    </div>
</div>
{% endblock %}

