{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Loans</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="loanchart">
            <svg style="height:500px;width:100%;"></svg>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Priority</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Rate</th>
                    <th>Amount Owed</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span class="label label-default">2</span></td>
                    <td>Car loan</td>
                    <td>Honda Civic 2010</td>
                    <td>4.12%</td>
                    <td>$10,000</td>
                </tr>
                <tr>
                    <td><span class="label label-default">3</span></td>
                    <td>Mortgage</td>
                    <td>1234 456 Lane</td>
                    <td>3%</td>
                    <td>$145,000</td>
                </tr>
                <tr>
                    <td><span class="label label-danger">Pay this first!</span></td>
                    <td>Car loan</td>
                    <td>Honda Civic 2011</td>
                    <td>40%</td>
                    <td>$15,000</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

