{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Dashboard</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Trends</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="chart">
            <svg style="height:500px;width:100%;"></svg>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Recent Transactions</h3>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Bucket</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>$5.00</td>
                    <td>CodeOne diner</td>
                    <td>Food</td>
                </tr>
                <tr>
                    <td>$5.00</td>
                    <td>CodeOne diner</td>
                    <td>Food</td>
                </tr>
                <tr>
                    <td>$5.00</td>
                    <td>CodeOne diner</td>
                    <td>Food</td>
                </tr>
                <tr>
                    <td>$5.00</td>
                    <td>CodeOne diner</td>
                    <td>Food</td>
                </tr>
                <tr>
                    <td>$5.00</td>
                    <td>CodeOne diner</td>
                    <td>Food</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
