{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Dashboard</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Trends</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="chart">
            <svg style="height:500px;width:100%;"></svg>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Recent Transactions</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="hist">
            <svg style="height:500px;width:100%;"></svg>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Bucket</th>
                </tr>
            </thead>
            <tbody>
            {% for transaction in g.data["transactions"] %}
                <tr>
                    <td>${{transaction.amount/100.0}}</td>
                    <td>{{transaction.description | truncate(60)}}</td>
                    <td width="50%"><div class="progress">
                        {% for bucket in transaction.buckets %}
                        <div class="progress-bar" style="width: {{bucket[1]*100}}%;background-color: {{bucket[0].color}}">${{(bucket[1]*transaction.amount)/100.0}}</div>
                        {% endfor %}
                    </div></td>
                </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
